@import "variables";

.h1cambios{
    padding-top: 150px;
    text-align: center;
    color: $color-texto;
}

.h2cambios{
    padding-top: 150px;
    text-align: center;
    color: #fff;
}
.Pcambios1, .Pcambios2{
    margin-right: 200px;
    margin-left: 200px;
    padding-top: 100px;
    text-align: center;
    color: #fff;
}