@import "variables";

.h1envios{
    padding-top: 150px;
    text-align: center;
    color: $color-texto;
}

.h2envios, .h3envios, .h4envios{
    padding-top: 150px;
    text-align: center;
    color: #fff;
}
.Penvios1, .Penvios2, .Penvios3, .Penvios4{
    margin-right: 200px;
    margin-left: 200px;
    padding-top: 100px;
    text-align: center;
    color: #fff;
}